/* src/styles.css */

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************ MY STYLES *************************/

#root{
    min-height: 560px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    height: 100vh;
    background-color: #FAFAFF;
}

h1{
    font-size: 34px;;
}


.header{
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}


nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F4F4F6;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav span{
    margin-bottom: 30px;
    color: #284B63;
    font-size: 35px;
    font-weight: bold;
}

.header{
    align-self: flex-start;
    background-color: #F4F4F6;
    width: 100%;
}

.displayNone{
    display: none;
}

nav ul a li{
    margin-bottom: 30px;
}

.title{
    padding-left: 20px;
    padding-right: 9px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.title div{
    display: none;
}

.title p{
    font-family: Souce sans-serif;
    font-size: 35px;
}

button{
    width: 150px;
    height: 54px;
    border-radius: 500px;
    border: none;
    background-color: #284B63;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.277);
}

button i{
    padding-right: 5px;
}

.list{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #FFFFFF;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 15px;
    margin-bottom: 12px;
}

.listItems{
    flex-grow: 1;
}
.isNoItem{
    height: 60vh;
    margin-left: 30px;
}

.list input{
    margin-left: 12px;
}

.list span p{
    display: none;
}

.list .variants span{
    display: none;
}

.list .variants .color{
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 2;
}

.variants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding-right: 12px;
    max-width: 100px;
}


.variants p{
    margin: 10px;
    min-width: 40px;
}

.textarea{
    margin-left: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: #284B63;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 3px solid #F4F4F6;
}

.display{
    display: none;
}

input:checked ~ .textarea{
    color: rgba(128, 128, 128, 0.599);
    text-decoration: line-through;
}

input:checked ~ .variants > span{
    color: rgba(128, 128, 128, 0.599);
    background-color: rgba(128, 128, 128, 0.099);
}

input:checked ~ .variants > .color{
    background-color: rgba(128, 128, 128, 0.099);
}

form > .textarea{
    border: none;
    font-family: Souce sans-serif;
    font-size: 1rem;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.list.button{
    background-color: #FAFAFF;
    justify-content: space-between;
}

.showItems{
    background-color: #FAFAFF;
    color: black;
    box-shadow: none;
    height: auto;
    font-size: 1rem;
    font-family: Souce sans-serif;
}

.btn-yellow{
    background-color: yellow;
}

.btn-red{
    background-color: red;
}

.btn-blue{
    background-color: blue;
}

.newPageForm{
    display: flex;
    min-width: 200px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    margin-right: 0px;
}

.newForm{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.btn--cancel{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--save{
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

.buttons--container{
    display: flex;
    justify-content: end;
}

.listTitle{
    font-size: 54px;
    background-color: #FAFAFF;
    border: none;
}

.listTitle:focus{
    background-color: #FAFAFF;
}

.listTitle:focus::after{
   outline: none;
}

.deleteList{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.deleteButton{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284B63;
    color: white;
}

ul a{
    text-decoration: none; 
    color: black;
}

ul a:hover{
    color: #525252;
}

ul a:active{
    color: blue;
}

.urg{
    background-color: #FFD7D0;
}

.med{
    background-color: #D6F2FB;
}

.lo{
    background-color: #FFF3DF;
}

.fa-solid{
    cursor: pointer;
}

.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time{
    width: 80px;
}


@media only screen and (min-width: 750px){

    .displayNone{
        width: 300px;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #F4F4F6;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    nav{
        width: 300px;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #F4F4F6;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    nav span{
        width: 153px;
        padding-top: 50px;
        padding-bottom: 123px;

    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;
        align-items: flex-start;
    }

    nav ul li{
        padding-bottom: 20px;
    }

    nav button{
        margin-bottom: 51px;
    }


    .header{
        display: none;
    }

    .header i{
        display: none;
    }

    .header h1{
        font-size: 3rem;
    }

    .title{
        margin-left: 300px;
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .title div{
        display: flex;
        flex-basis: 100%;
        padding-top: 52px;
        font-size: 20px;
    }

    .title div p{
        font-size: 16px;
    }

    .title > div > div{
        padding: 0px;
        display: flex;
    }

    .title div .complete{
        flex-basis: 5%;
    }

    .title div .item{
        flex-basis: 85%;
        margin-left: 50px;
    }

    .title div .titles{
        display: flex;
        justify-content: end;
        margin-left: 90px;
    }

    .title div .titles p:nth-child(1){
        width: 120px;
    }

    .title div .titles p:nth-child(2){
        flex-basis: 40%;
        text-align: center;
    }


    .list{
        margin-left: 328px;
        margin-right: 28px;
    }

    .listItems{
        overflow: scroll;
    }

    .list input{
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .list p{
        margin-left: 50px;
    }

    .variants{
        justify-content: end;
        display: flex;
        max-width: 200px;
    }

    .variants span{
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .variants span p{
        display: contents;

        margin: auto;

    }

    .variants .time{
        margin: 0;
        text-align: center;
    }

    footer{
        margin-left: 300px;
        margin-top: auto;
        padding-right: 35px;
    }

    .isNoItem{
        margin-left: 350px;
        height: 60vh;
    }

    .list .variants span{
        display: flex;
        min-width: 25px;
        height: 25px;
        border-radius: 50px;
        z-index: 1;
    }

    .list .variants .color{
        display: none;
    }

    .newPageForm{
        margin-left: 300px;
    }

    .urgent{
        background-color: #FFD7D0;
    }
    
    .medium{
        background-color: #D6F2FB;
    }
    
    .low{
        background-color: #FFF3DF;
    }

    .listTitle{
        padding-left: 328px;
    }

    .deleteList{
        margin-right: 30px;
        justify-content: flex-end;
    }

    .newForm{
        height: 100vh;
        margin-top: 0px;
    }

    .about{
        padding-left: 300px;
    }

    .time{
        width: 100px;
    }

}








